/********************************************************************
 *******                    Global Styling                   ********
 ********************************************************************/

html, body {
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
}

a { 
	color: #4c4;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.header-center > h1,
.header-center > h2,
.header-center > h3,
.header-center > h4,
.header-center > h5,
.header-center > h6 {
    text-align: center;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Iceberg', cursive;
    color: #7f7;
    font-weight: 600;
}

h1 { font-size: 18pt; }
h2 { font-size: 17pt; }
h3 { font-size: 16pt; }
h4 { font-size: 15pt; }
h5 { font-size: 14pt; }
h6 { font-size: 13pt; }
p  { font-size: 10pt; }

form input {
    margin-bottom: 10px;
}

.form-errors {
    margin-bottom: 50px;
}

.form-errors .form-errors-title {
    color: #fff;
    margin-bottom: 0px;
}


/********************************************************************
 *******                      Site Header                    ********
 ********************************************************************/

header {
	margin-top: 20px;
	margin-bottom: 40px;
}

header img {
	width: 100%;
}

header #site-header .site-text {
	margin-top: 18px;
}


/********************************************************************
 *******                   Site Sidebar Left                 ********
 ********************************************************************/

#site-body .site-left-sidebar {
	background: rgba(20, 20, 20, 0.8);
	padding: 0px;
}

#site-body .site-left-sidebar .site-sidebar-ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#site-body .site-left-sidebar .site-sidebar-ul a,
#site-body .site-left-sidebar .site-sidebar-ul li {
	margin: 0px;
	color: #ccc;
	font-size: 14px;
	padding: 13px 0px;
}

#site-body .site-left-sidebar .site-sidebar-ul li  {
	border-top: solid 4px #262;
}

#site-body .site-left-sidebar .site-sidebar-ul li:hover,
#site-body .site-left-sidebar .site-sidebar-ul .active {
	font-weight: 800;
	background: rgba(40, 40, 40, 0.8);
}

/********************************************************************
 *******                  Main Site Content                  ********
 ********************************************************************/

#site-body .site-content .full-content {
    color: #e0e0e0;
    margin: 0% 0%;
    padding: 5px 25px 35px 25px;
    border-top: solid 4px #262;
    background: rgba(20, 20, 20, 0.8);
}

#site-body .site-content .site-login .site-login-form input {
    margin-bottom: 10px;
}


/** /staffus **/

#site-body .site-content .site-staff .staff-item {
	border: none;
	padding: 0px;
	padding-top: 15px;
	height: 175px;
}

#site-body .site-content .site-staff .staff-item h2 {
     color: #e0e0e0;
}

#site-body .site-content .site-staff .staff-item h4 {
    color: #cacaca;
}

#site-body .site-content .site-staff .staff-item p {
    color: #aeaeae;
}

#site-body .site-content .site-staff .staff-item img {
    max-width: 190px;
    margin-top: -15px;
    float: left;
}

/** /s & /s/{id} **/

#site-body .site-content .site-shows .shows-show {
    border: none;
    padding: 0px;
    padding-top: 15px;
    height: 175px;
}

#site-body .site-content .site-shows .shows-show h2 {
    color: #e0e0e0;
}

#site-body .site-content .site-shows .shows-show h4 {
    color: #cacaca;
}

#site-body .site-content .site-shows .shows-show p {
    color: #aeaeae;
}

#site-body .site-content .site-shows .shows-show img {
    max-width: 190px;
    margin-top: -15px;
    float: left;
}

#site-body .site-content .site-show img {
    max-width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

#site-body .site-content .site-show .show-content {
    margin-top: -4px;
    border-top: solid #2a2 4px;
    background: rgba(20, 20, 20, 0.8);
    padding: 5px 15px 15px 15px;
}

#site-body .site-content .site-show .show-content .show-content-body {
    color: #fff;
}


/** /home & /b **/

#site-body .site-content .site-blog .site-blog-post .blog-post-img {
    max-width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

#site-body .site-content .site-blog .site-blog-post .blog-post-content {
    margin-top: -4px;
    border-top: solid #2a2 4px;
    background: rgba(20, 20, 20, 0.8);
    padding: 5px 15px 15px 15px;
}

#site-body .site-content .site-blog .site-blog-post .blog-post-posted {
    font-size: 14px;
    margin-top: -10px;
}

#site-body .site-content .site-blog .site-blog-post .blog-post-body {
    color: #fff;
}

/********************************************************************
 *******                  Site Sidebar Right                 ********
 ********************************************************************/

#site-body .site-right-sidebar {
	padding: 0px;
}

#site-body .site-right-sidebar .site-sidebar-ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#site-body .site-right-sidebar .site-sidebar-ul li {
	margin: 0px;
	margin-bottom: 25px;
	color: #ccc;
	font-size: 14px;
	padding: 5px 0px 10px 0px;
	border-top: solid 4px #262;
	background: rgba(20, 20, 20, 0.8);
}

#site-body .site-right-sidebar .site-sidebar-ul li h3 {
	margin-top: 0px;
}

#site-body .site-right-sidebar .site-sidebar-ul .site-socal .fa { padding: 0px 10px 10px 0px; }
#site-body .site-right-sidebar .site-sidebar-ul .site-socal .fa-facebook-square { color: #3B5998; }
#site-body .site-right-sidebar .site-sidebar-ul .site-socal .fa-twitter-square { color: #4099FF; }
#site-body .site-right-sidebar .site-sidebar-ul .site-socal .fa-youtube-square { color: #cd201f; }
#site-body .site-right-sidebar .site-sidebar-ul .site-socal .fa-google-plus-square { color: #B71C1C; }


/********************************************************************
 *******                    Site Footer                      ********
 ********************************************************************/

footer {
	border-top: solid 3px #262;
	background: rgba(20, 20, 20, 0.8);
	color: #fff;
	margin-top: 75px;
	padding: 0px 20px 15px 20px;
    font-size: 12px;
}

footer .third {
	max-width: 33%;
	width: 33%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

footer .third img {
	vertical-align: middle;
}

footer .third .site-with-love {
	color: #f00;
}

/********************************************************************
 *******                  Site Background                    ********
 ********************************************************************/

#site-background {
	top: 0em;
	position: fixed;
	z-index: -2;
	background-image: url(../img/backTile.png);
	background-size: 25px;
}

#site-background .site-background-img {
	vertical-align: middle;
	width: 125%;
	opacity: 0.5;
}
